.container {
   display: block;
   background-color: beige;
}

.filters {
  display: flex;
  margin: 0, 15px;
}

.filter {
  font-size: 15px;
  color: gray;
  margin-right: 5px;
}

.photo {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

